body {
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: mediumseagreen;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
  
#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
#table tr:nth-child(even){
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: mediumseagreen;
  color: white;
  text-align: center;
}

.title {
  text-align: center;
}

.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 100%;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 135px;
}

.bluebutton {
  background-color:blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 135px;
}

.redbutton {
  background-color: red; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 135px;
}

.graybutton {
  background-color: grey;
  color: white;
  font-size: 15px;
  border: solid 1px black;
}

.blackbutton {
  background-color: black;
  color: white;
  font-size: 15px;
  border: solid 1px black;
}

.header {
  padding: 0px;
  margin: 0px;
  text-align: center;
  background: mediumseagreen;
  color: white;
  font-size: 30px;
}
